<section>
  <h1 class="h-[6rem] flex items-center pl-6 font-bold text-lg">YOURLOGO</h1>
  <ul class="flex flex-col gap-6 text-sm text-gray-500">
    <button class="pl-5 focus:text-blue-400 focus:border-r-blue-400 focus:border-r-4">
      <div class="flex items-center gap-1">
        <span class="material-symbols-outlined"> dashboard </span>
        <p>Dashboard</p>
      </div>
    </button>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> bar_chart </span>
        <p>Users</p>
      </a>
    </li>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> description </span>
        <p>Documents</p>
      </a>
    </li>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> imagesmode </span>
        <p href="#">Photos</p>
      </a>
    </li>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> dashboard </span>
        <p>Hierarchy</p>
      </a>
    </li>
    <br />
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> Chat </span>
        <p>Message</p>
      </a>
    </li>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> Help_Outline </span>
        <p>Help</p>
      </a>
    </li>
    <li class="pl-5 hover:text-blue-400 hover:border-r-blue-400 hover:border-r-4">
      <a href="" class="flex items-center gap-1">
        <span class="material-symbols-outlined"> settings </span>
        <p>Setting</p>
      </a>
    </li>
  </ul>
</section>



