<p class="text-blue-400 text-2xl font-bold">User Dashboard</p>
<form class="flex justify-between items-center my-3 pr-16">
  <input
    type="search"
    class="rounded-xl w-[50%] h-9 px-4 focus:border-none focus:outline-none text-sm"
    placeholder="Q search"
  />
  <button class="text-white px-2 rounded-lg h-9">Add user <b>+</b></button>
  <div>
    <label for="sortBy" class="mx-2">Sort by</label>
    <select
      name="sortBy"
      id="sortBy"
      class="px-2 h-9 rounded-lg w-4 bg-gray-200"
    >
      <option value="">role</option>
      <option value="">date</option>
      <option value="">premission</option>
      <option value="">name</option>
    </select>
  </div>
  <div>
    <label for="saveSeach" class="mx-2">save search</label>
    <select
      name="saveSeach"
      id="saveSeach"
      class="px-2 h-9 rounded-lg w-4 bg-gray-200"
    >
      <option value="">role</option>
      <option value="">date</option>
      <option value="">premission</option>
      <option value="">name</option>
    </select>
  </div>
  <span class="material-symbols-outlined">
    tune
    </span>
</form>
