<div class="bg-white h-[63px] w-full flex flex-row items-center px-10 gap-10">
  <span class="w-[300px]">
    <p>David Wagner</p>
    <p class="font-extralight text-sm">david_wagner &#64; example.com</p>
  </span>
  <span class="bg-blue-400 text-white font-medium w-[140px] px-1 rounded-md"
    >Super Admin</span
  >
  <span class="w-[150px]"><p>Create Date</p></span>
  <span class="w-[150px]"> Role </span>
  <span class="w-[150px]"><p></p></span>
  <span class="w-[150px] flex gap-4">
    <button>
      <span class="material-symbols-outlined text-base text-gray-400">
        border_color
      </span>
    </button>
    <button>
      <span class="material-symbols-outlined text-base text-gray-400">
        delete
      </span>
    </button>
  </span>
</div>
